@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

html,
body {
  font-family: 'Questrial', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

a,
a:visited {
  color: #3498db;
}

/* Copy Paste Spinner */
.fetch-loader {
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
